#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#rc-anchor-container{
  width: 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.profilephoto {
  width: 45px;
  border-radius: 50%;
}
.main-modal {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  width: 60%;
  color: black;
  z-index: 1;
  border-radius: 20px;
}
.modal-text {
  margin-top: 2%;
}
.logout-btn {
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
}
.logout-btn:hover {
  background-color: rgb(5, 3, 43);
  color: white;
  border: 2px solid rgb(4, 7, 33);